body {
    background-color: #44525f;
}

#navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Lucida Sans';
    background-color: #272D33;
    color: white;
    font-size: 35px;
    padding: 5px;
}

a:hover {
    background-color: gray;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: white;
    width: 20%;
    text-align: center;
}
